.spacing {
  display: block;
  width: 100%;
  height: 100%;
}

.spacing-col-2 { display: block; grid-column: span 2; }
.spacing-col-3 { display: block; grid-column: span 3; }
.spacing-col-4 { display: block; grid-column: span 4; }
.spacing-col-5 { display: block; grid-column: span 5; }
.spacing-col-6 { display: block; grid-column: span 6; }
.spacing-col-7 { display: block; grid-column: span 7; }
.spacing-col-8 { display: block; grid-column: span 8; }
.spacing-col-9 { display: block; grid-column: span 9; }

.spacing-row-2 { display: block; grid-row: span 2; }
.spacing-row-3 { display: block; grid-row: span 3; }
.spacing-row-4 { display: block; grid-row: span 4; }
.spacing-row-5 { display: block; grid-row: span 5; }
.spacing-row-6 { display: block; grid-row: span 6; }
.spacing-row-7 { display: block; grid-row: span 7; }
.spacing-row-8 { display: block; grid-row: span 8; }
.spacing-row-9 { display: block; grid-row: span 9; }

.spacing-col-2-row-2 { display: block; grid-column: span 2; grid-row: span 2; }
.spacing-col-2-row-3 { display: block; grid-column: span 2; grid-row: span 3; }
.spacing-col-2-row-4 { display: block; grid-column: span 2; grid-row: span 4; }
.spacing-col-3-row-2 { display: block; grid-column: span 3; grid-row: span 2; }
.spacing-col-3-row-3 { display: block; grid-column: span 3; grid-row: span 3; }
.spacing-col-3-row-4 { display: block; grid-column: span 3; grid-row: span 4; }
.spacing-col-4-row-2 { display: block; grid-column: span 4; grid-row: span 2; }
.spacing-col-4-row-3 { display: block; grid-column: span 4; grid-row: span 3; }
.spacing-col-4-row-4 { display: block; grid-column: span 4; grid-row: span 4; }